<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"><title>My Website - About</title>
<link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
<h1>Rachelle Trotman</h1>
<p> I am a final year Computer Science major from the beautiful island of Barbados. The goal is to have successful career in computing and in doing so, I hope to use all the skills I would have garnered to impact lives regionally and internationally, through both charitable organizations and my substantive profession. </p>
</body>
</html>
